@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid lightgray;
  gap: 30px;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 10px;
}

.npm-logo {
  width: 60px;
  margin-top: 0;
}

.search-form {
  display: flex;
  align-items: center;
  margin-left: -10px;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  background-color: #f9f9f9;
  width: 1000px;
}

.search-container input[type="text"] {
  width: 100%;
  height: 30px;
  padding-left: 35px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  margin-left: 10px;
}

.search-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 10px;
}

.search-form button {
  margin-left: 5px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 13px 10px;
  font-size: 15px;
  cursor: pointer;
  width: 100px;
}

.search-form button:hover {
  background-color: darkred;
}

.join-bar{
    color: rgb(38, 38, 38);
    background-color: white;
    margin-left: 40px;
width: 40px;
padding: 8px 16px;
  border: 2px solid rgb(44, 44, 44);
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}
.Log-in{
    margin-left: 20px;
}

#section1 {
  background-color: rgba(232,217,217, .3);
  padding: 20px;
  border-radius: 5px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centered-section {
  text-align: center;
  margin-top: 50px;
}

.centered-section h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 60px;
    text-align: center;
  }
  

.centered-section p {
  font-size: 1.2rem;
  margin-top: 3px;
  line-height: 1;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.see-plans {
  background-color: #FB3B49;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  width: 200px;
  box-shadow: 8px 8px 0 rgba(251,59,73, .2);
}

.see-plans:hover {
  background-color: darkred;
}

.join-for-free {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  width: 200px;
}

.join-for-free:hover {
  background-color: #f0f0f0;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

svg {
  max-width: 100%;
  height: auto;
  margin-top: 50px;

}

#section2 {
  padding: 20px;
  border-radius: 5px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section2 h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  font-style: italic;
  background-color: rgba(255,204,53, .4);
}

#section2 p {
  font-size: 1.2rem;
  margin-bottom: 0;
}

#section3 {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  margin-top: 40px;
}

#section3 .side-by-side {
  width: 23%;
  position: relative;
  text-align: center;
  margin-top: 100px;
}

#section3 .side-by-side h3,
#section3 .side-by-side h4,
#section3 .side-by-side h5,
#section3 .side-by-side h6 {
  color: #ED1C24;
  margin: 0;
  font-size: 22px;
  margin-bottom: 5px;
}

#section3 .side-by-side p {
  font-size: 16px;
  line-height: 1;
  margin-top: 0;
}

#section3 img {
  width: 40px;
  height: auto;
  position: absolute;
  top: -40px;
  left: 70px;
}

.final-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.side-by-side {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
}

.side-by-side p {
  margin-top: 10px;
}

button {
  padding: 12px 24px;
  background-color: black;
  color: white;
  width: 300px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
  display: block;
  margin: 20px auto;
}

button:hover {
  background-color: #333;
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.3);
}
